        body {
            font-family: 'Quicksand', sans-serif;
            margin: 0;
        }
        .header {
            background-color: rgb(13, 13, 85);
            color: #ffffff;
            border: rgb(13, 13, 85) dashed 1px;
            justify-content: space-between;
        }
        .logoHeader {
            width: 450px;
            max-width: 100%;
            padding-left: 10px;
            padding-top: 10px;
        }
        .title {
            flex-wrap: wrap;
            max-width: 100%;
        }
        .navs {
            background-color: rgb(13, 13, 85);
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
            padding-bottom: 5px;
        }
        .navs a {
            color: white;
            padding: 5px;
            text-decoration: none;
        }
        .images1, .images2, .leftflex, .leftflex2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 10px;
            }
        .leftflex, .leftflex2 {
            max-width: 100%;
            margin: 5px;
        }
        .righttop, .rightbot, .righttop2, .rightbot2 {
            display: flex;
            padding: 15px;
            flex-wrap: wrap;
        }
        .rightbot {
            padding-top: 29px;
        }
        .rightbot2 {
            padding-top: 21px;
        }
        .bigPic, .bigPic2 {
            width: 850px;
            max-width: 100%;
        }
        .smallTop, .smallBottom, .smallTop2, .smallBottom2 {
            max-width: 400px;
        }
        @media only screen and (max-width: 1330px) {
            .righttop, .rightbot, .righttop2, .rightbot2 {
                display: inline;
                padding: 22px;
            }
        }
        @media only screen and (max-width: 915px) {
            .righttop, .rightbot, .righttop2, .rightbot2 {
                display: block;
                padding-top: 10px;
            }
            .righttop img, .rightbot img, .righttop2 img, .rightbot2 img {
                max-width: 100%;
            }
            .leftflex, .leftflex2 {
                padding: 18px;
            }
        }
        .welcome-section, .covered-section {
                flex-wrap: wrap;
                display: flex;
                justify-content: center;
                text-align: center;
                color: #ffffff;
                padding: 10px;
            }
        .welcome-section {
            background-image: url(../images/projectPics/p4-banner.png);
            padding: 30px;
        }
        .covered-section {
            background-image: url(../images/projectPics/i2-banner.png);
            padding: 30px;
        }
        .welcome {
            padding-right: 85px;
            padding-left: 85px;
        }
        .welcome-section a, .covered-section a {
            display: flex;
            justify-content: center ;
            color: #ffffff;
        }
        .footertop {
            display: flex;
            background-color: rgb(13, 13, 85);
            color: white;
            justify-content: space-between;
        }
        .infol1, .infol2, .infol3, .infol4 {
            display: flex;
            justify-content: flex-end;
            padding: 5px;
        }
        .sblogo {
            padding: 10px;
            width: 150px;
        }
        .footerbot {
            background-color: rgb(13, 13, 85);
            color: white;
            display: flex;
            justify-content: space-between;
        }
        .gototop {
            padding: 10px;
            padding-left: 30px;
            padding-bottom: 20px;
        }
        .gttbutton {
            border-radius: 12px;
            font-size: 16px;
            color: rgb(13, 13, 85);
            border-color: rgb(13, 13, 85);
        }
        .info {
            padding: 10px;
        }

    /* About Us Page Styles */

        .page2 {
            color: rgb(13, 13, 85);
        }
        .nickBox {
            padding-top: 30px;
        }
        .nick{
            font-size: 35px;
            text-decoration: underline;
        }
        .nickImage {
            float: left;
            padding-left: 20px;
        }
        .nickImage img {
            max-width: 100%;
        }
        .nickInfo {
            padding-top: 15px;
        }
        .nickDisc {
            line-height: 2;
            font-size: 20px;
        }
        .nick, .nickDisc {
            display: flex;
            padding-left: 30px;
            padding-right: 30px;
        }
        .johnBox {
            clear: both;
        }
        .john{
            font-size: 35px;
            text-decoration: underline;
            justify-content: flex-end;
        }
        .johnImage {
            float: right;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
        }
        .johnImage img {
            max-width: 100%;
        }
        .johnInfo {
            padding-top: 15px;
        }
        .johnDisc {
            line-height: 2;
            font-size: 20px;
        }
        .john, .johnDisc {
            display: flex;
            padding-right: 30px;
            padding-left: 30px;
        }
        .ourStorySection {
            clear: both;
        }
        .aboutUs {
            position: relative;
            text-align: center;
            color: white;
        }
        .centered {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 70px;
            text-shadow: rgb(13, 13, 85) 0 0 5px;
        }
        .aboutUs img {
            max-width: 100%;
        }
        .ourStory {
            display: flex;
            justify-content: center;
            font-size: 30px;
            background-image: url(../images/projectPics/our-story-banner.png);
            color: #ffffff;
            padding: 120px;
        }
        .story {
            line-height: 2;
            font-size: 20px;
            padding: 20px;
        }
        .oLetter {
            display: inline;
            font-size: 50px;
            text-decoration: underline;
        }
        @media only screen and (max-width: 900px) {
            .nickInfo, .johnInfo {
                display: inline-block;
            }
            .johnImage, .nickImage {
                float: none;
                display: flex;
                justify-content: center;
                padding-left: 10px;
                padding-right: 10px;
            }
            .nick, .john {
                display: flex;
                justify-content: center;
            }
        }
        @media only screen and (max-width: 600px) {
            .aboutUsImage {
                display: none;
            }
            .aboutUs {
                display: flex;
                justify-content: center;
                font-size: 30px;
                background-image: url(../images/projectPics/ourHouseBanner.jpg);
                color: #ffffff;
                padding: 120px;
            }
            .centered {
                top: 20%;
            }
        }

    /* Porfolio Page Styles */

        .portfolio {
            flex-wrap: wrap;
            text-align: center;
            padding: 10px;
        }
        .portTitle {
            display: block;
            font-size: 30px;
            color: rgb(13, 13, 85);
            text-decoration: underline;
        }
        .mainflex {
            padding: 20px;
        }
        .mainflex img {
            max-width: 100%;
            width: 1500px;
            padding: 20px;
        }
        .row1, .row2, .row3, .row4, .row5{
            display: flex;
            justify-content: center;
            max-width: 100%;
        }
        .row1 img, .row3 img, .row5 img, .row5 video{
            width: 1500px;
        }
        video {
            max-width: 100%;
            height: auto;
            padding: 20px;
        }
        @media only screen and (max-width: 600px) {
            .row1, .row2, .row3, .row4, .row5 {
                display: block;
            }
        }
        
        /*Slideshow CSS*/
        * {box-sizing: border-box}
        .mySlides {display: none}
        img {vertical-align: middle;}

        /* Slideshow container */
        .slideshow-container {
        max-width: 1500px;
        position: relative;
        margin: auto;
        padding: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
        }

        .slideshow-container img {
        max-width: 100%;
        }
        /* Next & previous buttons */
        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
        margin-right: 40px;
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }

        /* The dots/bullets/indicators */
        .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 px;
        display: inline-block;
        background-color: #bbb;
        border-radius: 50%;
        transition: background-color 0.6s ease;
        }
        .thumbnail {
            cursor: pointer;
            width: 80px;
            margin: 0 2px;
        }



        /* Fading animation */
        .fade {
        animation-name: fade;
        animation-duration: 1.5s;
        }
        .thumbnails {
            display: flex;
            justify-content: center;
            padding-bottom: 20px;
            max-width: 100%;
        }
        #dots {
            display: none;
        }
        @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
        }

        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 600px) {
            .thumbnails{
                display: none;
            }
            #dots{
                display: flex;
                justify-content: center;
                padding-bottom: 20px;
            }
            .dot {
                margin: 0 3px;
            }
            .active, .dot:hover {
                box-shadow: #717171;
                background-color: #717171;
                }
        }

    /*Contact Page Styles*/

        .name, #subject, #email, #message {
            width: 50vw;
            font-size: 12px;
            max-width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .contactIMG {
            width: 500px;
            max-width: 100%;
        }
        .contactFlex {
            display: flex;
            justify-content: space-evenly;
            max-width: 100%;
        }
        .infoFlex, .formFlex {
            padding: 20px;
        }
        .submitBtn {
            width: 80px;
            height: 30px;
            border-radius: 20px;
            font-size: 14px;
            background-color: rgb(13, 13, 85);
            color: #ffffff;
            border-color: rgb(13, 13, 85);
        }
        .nameBtn {
            width: 50vw;
            display: flex;
            justify-content: space-between;
        }
        #name2 {
            margin: 8px 5px;
        }
        .smallImage{
            display: none;
        }
        @media only screen and (max-width: 800px) {
            .contactFlex {
                display: inline-block;
            }
            .smallImage {
                padding: 20px;
                padding-bottom: 0px;
                display: flex;
                justify-content: center;
            }
            .bigImage {
                display: none;
            }
            .nameBtn , #subject, #email, #message {
                width: 100vw;
            }
            #name2 {
                margin: 8px 40px;
            }
        }
        @media only screen and (max-width: 450px) {
            .nameBtn {
                display: inline-block;
            }
            .name {
                width: 90vw;
            }
            #name2 {
                margin: 8px 0;
            }
        }