body {background-color: #F9F2E7; color: #000000}
a {color: #F9F2E7}
h1 {color: #40C0CB;}
nav {content: "|"; 
    background-color: #00A8C6; 
    padding: 10px; 
    margin-bottom: 30px;}
nav a {color: #F9F2E7;}
nav a:hover {background-color: #AEE239;}
.header {
    display: flex;
    justify-content: center;
}
i {width: 50px;}
